params {
        // Base directory for InterProScan data files.
    ips_data_dir = "${projectDir}/data/eukaryotes/db/interproscan/interproscan-5.75-106.0/data"
        // Primary output formats for InterProScan.
        ips_formats = 'tsv,gff3'
        // EggNOG database location (if not bundled in the container image).
    emapper_data_dir = "${projectDir}/data/eukaryotes/db/eggnog" 
}

process {
    executor = 'slurm'         
    cpus = 8
    memory = '128 GB'
    time = '72h'
    // Adjust the queue name for your HPC environment.
    queue = 'SP2'
    env = [
        // Shared Apptainer cache to avoid repeated pulls.
        'APPTAINER_CACHEDIR': "${projectDir}/apptainer_cache/.layer_cache",
        'APPTAINER_TMPDIR': "${projectDir}/apptainer_cache/tmp",
        'NXF_APPTAINER_CACHEDIR': "${projectDir}/apptainer_cache/.layer_cache",

    ]

    // Tool-specific container configuration.
    withLabel: kofamscan {
    container = 'quay.io/biocontainers/kofamscan:1.3.0--0.sif'
    }
    withLabel: gffread {
    container = 'quay.io/biocontainers/gffread:0.12.7--h9a82719_0'
    }
    withLabel: interproscan {
    container = 'interpro/interproscan:5.75-106.0'
    // Bind the InterProScan data directory into the container.
    containerOptions = "--bind ${params.ips_data_dir}:/opt/interproscan/data"
    }
    withLabel: eggnog_mapper_v2 {
    container = "${projectDir}/apptainer_cache/eggnog_v2:2.1.13-sse41"
        beforeScript = """
            mkdir -p "${params.emapper_data_dir}"
        """
    containerOptions = "--bind ${params.emapper_data_dir}:/eggnog-data:ro"
    env = [
        'EGGNOG_DATA_DIR': '/eggnog-data',
        'NEXT_TASK_MONITOR': '0'
        ]
    }
}
   // Add more tool labels here as needed.
singularity {
    enabled = true
    // Image cache for Apptainer/Singularity.
    cacheDir = "$projectDir/apptainer_cache/.layer_cache"
}
