process {
    withName: EGGNOG {
        cpus = 20
        memory = '128 GB'
        time = '24h'
    }
    withName: BAKTA {
        cpus = 20
        memory = '128 GB'
    }
    withName: PROKKA {
        cpus = 20
        memory = '64 GB'
    }

}
singularity {
    enabled = true
    autoMounts = true
}
env {
    TMPDIR = "/temporario2/15402906/BenchAnnot/tmp"

}
executor {
    queueSize = 10
}
process {
    executor = 'slurm'
    queue = 'SP2'
}

params.bakta_db_dir = null
params.eggnog_db_dir = null